tei-head {
    font-size: 1.5em;
    font-weight: bold;
}

tei-title[level="m"] {
    font-style: italic;
}

tei-div {
    display: block;
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
}

tei-p {
    display: block;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px dashed #eee;
    border-radius: 4px;
    position: relative;
}

tei-p[rend="center"] {
    text-align: center;
}

tei-p[rend="right"] {
    text-align: right;
}

tei-p[rend="justify"] {
    text-align: justify;
}

tei-hi[rend="b"] {
    font-weight: bold;
}

tei-hi[rend="i"] {
    font-style: italic;
}

tei-persname {
    font-variant: small-caps;
}

tei-list {
    display: block;
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 2em;
}

tei-item {
    display: list-item;
    list-style-position: outside;
    margin: 0.5em 0;
}