tei-div, tei-p, tei-item {
    display: block;
}

tei-head {
    font-size: 2rem;
    font-weight: bold;
}

tei-div > tei-div > tei-head {
    font-size: 1.75rem;
}

tei-div > tei-div > tei-div > tei-head {
    font-size: 1.5rem;
}

tei-div > tei-div > tei-div > tei-div > tei-head {
    font-size: 1.25rem;
}

tei-title[level="m"] {
    font-style: italic;
}

.debug tei-div {
    border-right: 2px solid var(--tei-div-color-0);
}

.debug tei-div > tei-div {
    border-right: 2px solid var(--tei-div-color-1);
}

.debug tei-div > tei-div > tei-div {
    border-right: 2px solid var(--tei-div-color-2);
}

.debug tei-div > tei-div {
    border-right: 2px solid var(--tei-div-color-3);
}

.debug tei-div > tei-div > tei-div {
    border-right: 2px solid var(--tei-div-color-4);
}

.debug tei-div > tei-div > tei-div > tei-div {
    border-right: 2px solid var(--tei-div-color-5);
}

tei-p {
    display: block;
    margin: 0.5em 0;
    position: relative;
}

.debug tei-p {
    border-right: 2px solid var(--tei-p-color);
}

tei-p[rend="center"] {
    text-align: center;
}

tei-p[rend="right"] {
    text-align: right;
}

tei-p[rend="justify"] {
    text-align: justify;
}

tei-hi[rend="b"] {
    font-weight: bold;
}

tei-hi[rend="i"] {
    font-style: italic;
}

tei-hi[rend="u"] {
    text-decoration: underline;
}

tei-persname {
    color: #A83410;
}

tei-placeName {
    color: #E48500;
}

tei-orgName {
    color: #F45D2C;
}

tei-term {
    color: #9236A4;
}

tei-list, tei-noteGrp {
    display: block;
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 2em;
}

tei-list[rend="enumerated"] {
    list-style-type: decimal;
}

tei-item, tei-note {
    display: list-item;
    list-style-position: outside;
    margin: 0.5em 0;
}

.debug tei-item {
    border-right: 1px solid var(--tei-item-color);
}

tei-noteGrp {
    list-style-type: none;
    padding-left: 0;
}

tei-noteGrp::before {
    padding: 1rem 0 0;
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    content: "";
    display: block;
    width: 220px;
}

tei-note {
    padding-left: 2rem;
}

tei-note::before {
    content: attr(_reference) ".";
    margin-right: 0.5em;
}

tei-anchor {
    font-size: 0.8em;
    vertical-align: super;
}

tei-pb {
    display: inline-block;
    background-color: #ffa500;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 4px;
    padding: 2px 6px;
}

tei-p.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    position: absolute;
    height: 0;
    pointer-events: none;
}

.debug tei-div, .debug tei-p, .debug tei-item {
    margin-right: 2px;
    padding-right: 2px;
}

.debug *::after {
    display: inline-block;
    max-width: 7ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px;
    margin-left: 2px;
    padding: 2px 6px;
    font-size: .65rem;
    font-weight: normal;
    color: white;
    vertical-align: middle;
}