tei-div, tei-p, tei-item {
    display: block;
}

tei-head {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.125;
    margin-top: 3rem;
}

tei-div > tei-div > tei-head {
    font-size: 1.75rem;
    line-height: 1.15;
    margin-top: 2.625rem;
}

tei-div > tei-div > tei-div > tei-head {
    font-size: 1.5rem;
    line-height: 1.175;
    margin-top: 2.25rem;
}

tei-div > tei-div > tei-div > tei-div > tei-head {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 1.874rem;
}

tei-title[level="m"] {
    font-style: italic;
}

tei-div {
    border-right: 2px solid var(--tei-div-color-0);
    margin-right: 2px;
    padding-right: 2px;
}

tei-div > tei-div {
    border-right: 2px solid var(--tei-div-color-1);
}

tei-div > tei-div > tei-div {
    border-right: 2px solid var(--tei-div-color-2);
}

tei-div > tei-div {
    border-right: 2px solid var(--tei-div-color-3);
}

tei-div > tei-div > tei-div {
    border-right: 2px solid var(--tei-div-color-4);
}

tei-div > tei-div > tei-div > tei-div {
    border-right: 2px solid var(--tei-div-color-5);
}

tei-p {
    display: block;
    margin: 0.5em 0;
    position: relative;
}

tei-p[rend="center"] {
    text-align: center;
}

tei-p[rend="right"] {
    text-align: right;
}

tei-p[rend="justify"] {
    text-align: justify;
}

tei-hi[rend="b"] {
    font-weight: bold;
}

tei-hi[rend="i"] {
    font-style: italic;
}

tei-hi[rend="u"] {
    text-decoration: underline;
}

tei-hi[rend="code"] {
    font-family: monospace;
}

tei-figure {
    display: block;
    margin: 1rem 0;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

tei-figure > img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

tei-figure > tei-figDesc {
    display: block;
    text-align: right;
    font-size: .8rem;
}
tei-persname {
    color: #A83410;
}

tei-placeName {
    color: #E48500;
}

tei-orgName {
    color: #F45D2C;
}

tei-term {
    color: #9236A4;
}

tei-list, tei-listAnnotation {
    display: block;
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 2em;
}

tei-list[rend="ordered"] {
    list-style-type: decimal;
}

tei-list > tei-head {
    font-size: 1.25rem;
}

tei-item, tei-note {
    display: list-item;
    list-style-position: outside;
    margin: 0.5em 0;
}

tei-listAnnotation {
    list-style-type: none;
    padding-left: 0;
}

tei-listAnnotation::before {
    padding: 1rem 0 0;
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    content: "";
    display: block;
    width: 220px;
}

tei-note {
    padding-left: 2rem;
}

tei-note::before {
    content: attr(_reference) ".";
    margin-right: 0.5em;
}

tei-anchor {
    font-size: 0.8em;
    vertical-align: super;
    cursor: pointer;
}

tei-abbr {
    background-color: #9236A4;
    color: white;
}

tei-expan {
    background-color: #DB90E8;
    color: white;
}

tei-gap {
    color: #9E9E9E;
}

tei-supplied {
    text-decoration: underline dotted;
    color: #9E9E9E;
}

tei-unclear {
    color: #F06048;
}

tei-pb, tei-lb {
    display: inline-block;
    background-color: #ffa500;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 4px;
    padding: 2px 6px;
    cursor: pointer;
}

tei-lb {
    display: inline;
}

tei-lb::after {
    content: "\A";
    white-space: pre;
}

tei-p.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    position: absolute;
    height: 0;
    pointer-events: none;
}

tei-ref {
    color: var(--pico-primary);
    text-decoration: underline;
    cursor: pointer;
}

.ProseMirror-selectednode {
    outline: 2px solid var(--pico-primary);
}

.debug *::after {
    display: inline-block;
    max-width: 7ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px;
    margin-left: 2px;
    padding: 2px 6px;
    font-size: .65rem;
    font-weight: normal;
    color: white;
    vertical-align: middle;
}