html {
    font-size: 16px;
    line-height: 1.5;
}

.container {
    display: grid;
    grid-template-rows: 1fr minmax(5rem, 33%);
    padding: 1rem 0 1rem 0;
    min-height: 100vh;
    position: relative;
}

.logo {
    position: absolute;
    right: 0;
    top: 1rem;
    z-index: 100;
}

pre {
    margin-top: 20px;
    padding: 15px;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}

pb-authority-lookup {
    max-height: 460px;
    min-height: 320px;
}

jinn-tap .navigation-panel {
    margin-bottom: 1rem;
}

jinn-tap .navigation-panel li {
    padding-top: 0;
    padding-bottom: 0;
}

jinn-tap .toolbar li a {
    color: inherit;
}

jinn-tap label[data-tooltip].toolbar-button {
    margin: 0;
    cursor: pointer;
    border-bottom: none;
}

jinn-tap .toolbar-button i {
    font-size: 1.2rem;
}
/* 
jinn-tap .tiptap:has(.is-editor-empty) {
    background: url(jinntap-logo.png) no-repeat center center;
    background-size: 50%;
} */