.container {
    display: grid;
    grid-template-rows: 1fr minmax(5rem, 33%);
    padding: 1rem 0 1rem 0;
    min-height: 100vh;
    position: relative;
    --jinn-tap-overlay-color: var(--pico-mark-background-color);
}

.logo {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

pre {
    margin-top: 20px;
    padding: 15px;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}

jinn-tap .navigation-panel {
    margin-bottom: 2rem;
}

jinn-tap .navigation-panel li {
    padding-top: 0;
    padding-bottom: 0;
}

jinn-tap .toolbar li a {
    color: inherit;
}

jinn-tap label[data-tooltip].toolbar-button {
    margin: 0;
    cursor: pointer;
    border-bottom: none;
}

jinn-tap .toolbar-button i {
    font-size: 1.2rem;
}

jinn-tap .occurrences {
    margin-top: var(--pico-block-spacing-vertical);
    margin-bottom: var(--pico-block-spacing-vertical);
    padding-top: var(--pico-block-spacing-vertical);
    border-top: 1px solid #ccc;
}

.selectedCell {
	background-color: var(--pico-form-element-selected-background-color)
}

/* Table menu */
.table-menu {
  background-color: white;
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  padding: 0.2rem;
  /* Place the menu a bit away from the place where authors are working. Don't overlap what they can read! */
  margin-top: -3rem;

  .divider::before {
	  content: '';
	  height: 2rem;
	  border-left: 4px solid var(--pico-table-border-color);
	  border-radius: 2px;
	  display: block;
  }

  a {
    background-color: unset;

    &:hover {
      background-color: var(--gray-3);
    }

    &.is-active {
      background-color: var(--purple);

      &:hover {
        background-color: var(--purple-contrast);
      }
    }
  }
}
