html {
    font-size: 16px;
    line-height: 1.5;
}

.container {
    display: grid;
    grid-template-rows: 1fr minmax(5rem, 33%);
    padding: 1rem;
    min-height: 100vh;
}

pre {
    margin-top: 20px;
    padding: 15px;
    border-radius: 4px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}

pb-authority-lookup {
    max-height: 460px;
    min-height: 320px;
}

jinn-tap .toolbar li a {
    color: inherit;
}

jinn-tap label[data-tooltip].toolbar-button {
    margin: 0;
    cursor: pointer;
    border-bottom: none;
}

jinn-tap .toolbar-button i {
    font-size: 1.2rem;
}

jinn-tap .tiptap:has(.is-editor-empty) {
    background: url(jinntap-logo.png) no-repeat center center;
    background-size: 50%;
}