<footer class="site-footer">
  <p>Released by <a href="https://jinntec.de">JinnTec GmbH</a> under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License v3.0</a>.</p>
</footer>
