<link rel="stylesheet" href="{{ '/assets/jinn-tap.css' | prefixUrl }}">
<link rel="stylesheet" href="{{ '/assets/tei-editor-styles.css' | prefixUrl }}">
<link rel="stylesheet" href="{{ '/assets/jats-editor-styles.css' | prefixUrl }}">
<link rel="stylesheet" href="{{ '/css/embed.css' | prefixUrl }}">
